body{
    font-family: Arial,Helvetica,sans-serif;
    background-color: #cccccc;
}
#navbar{
    float:left;
    background-color: #171a4a;
    width:100%;
}

#nav {
    float: right;
    background-color: #171a4a;
    font-family: Arial,Helvetica,sans-serif;
    color: #dfdff1;
    text-decoration: none;
    font-weight: bold;
}

#nav a{
    
    color: #ececf9;
    text-decoration: none;
}

input {
    display:block;
}

ul.tags, ul.tags li {
    display:inline;
    margin:0;
    padding:0;
}

#tag-cloud {
    text-align:center;
}

#tag-cloud a{
    margin:0 0.2em;
}

.tag-cloud-0 { font-size:100%;}
.tag-cloud-1 { font-size:120%;}
.tag-cloud-2 { font-size:140%;}
.tag-cloud-3 { font-size:160%;}
.tag-cloud-4 { font-size:180%;}
.tag-cloud-5 { font-size:200%;}

ul.bookmarks .edit {
    font-size:70%;
}

textarea {
    display:block;
}

.comment {
    margin:1em;
    padding:5px;
    border:1px solid #000;
}